<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
	<th:block layout:fragment="content">
		<div class="page-wrapper">
			<div class="container" id="container">
				<h2>My Activities</h2>
				<div class="ptag-container mb-2">
					<span>Today is the</span> 
					<span id="accuDate" class="text-primary"><b>
					125th
					</b></span>
					<span>day since you subscribed to iFrame2.0.</span>
				</div>
			</div>


			<div class="container-xl mb-6">
				<div class="col-12">
					<div class="row row-cards">

						<div class="col-sm-12 col-lg-4">
							<div class="card card-sm">
								<div class="ribbon ribbon-top bg-primary">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-login-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" /><path d="M3 12h13l-3 -3" /><path d="M13 15l3 -3" /></svg>
								</div>
								<div class="card-status-start bg-primary"></div>
								<div class="card-body ms-3 me-3">
									<div class="col align-items-center mb-3">
										<span>
											Last login time :
										</span>
										<span class="text-primary"><b>
											2024-10-18 10:23:45
										</b></span>
									</div>
									<div class="col align-items-center mb-5">
										<span>
											You've logged in 
										</span>
										<span class="text-primary"><b>
											132
										</b></span>
										<span>
											times so far.
										</span>
									</div>
									
									<div id="chart-01" class="chart-sm"></div>
									
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-lg-4">
							<div class="card card-sm">
								<div class="ribbon ribbon-top bg-primary">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-upload"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><path d="M7 9l5 -5l5 5" /><path d="M12 4l0 12" /></svg>
								</div>
								<div class="card-status-start bg-primary"></div>
								<div class="card-body ms-3 me-3">
									<div class="col align-items-center mb-3">
										<span>
											Last upload time :
										</span>
										<span class="text-primary"><b>
											2024-10-16 14:11:04
										</b></span>
									</div>
									<div class="col align-items-center mb-5">
										<span>
											You've uploaded 
										</span>
										<span class="text-primary"><b>
											24
										</b></span>
										<span>
											times so far.
										</span>
									</div>
									
									<div id="chart-02" class="chart-sm"></div>
									
								</div>
							</div>
						</div>


						<div class="col-sm-12 col-lg-4">
							<div class="card card-sm">
								<div class="ribbon ribbon-top bg-primary">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-settings"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>
								</div>
								<div class="card-status-start bg-primary"></div>
								<div class="card-body ms-3 me-3">
									<div class="col align-items-center mb-3">
										<span>
											Last run time :
										</span>
										<span class="text-primary"><b>
											2024-10-13 08:58:29
										</b></span>
									</div>
									<div class="col align-items-center mb-5">
										<span>
											You've run 
										</span>
										<span class="text-primary"><b>
											68
										</b></span>
										<span>
											times so far.
										</span>
									</div>
									
									<div id="chart-03" class="chart-sm"></div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container" id="container">
			<h2>My Account</h2>
				<div class="ptag-container mb-5">
					<span>You can change some information including password.</span> 
				</div>
			</div>
			<div class="container-xl mb-6">
				
			    <form id="companyInfoForm" name="companyInfoForm" method="post" action="/auth/adamsNewCs" autocomplete="off" onsubmit="return false;">
			    	<input type="hidden" th:name="${csrfParameterName}" th:value="${csrfToken}" />


						<div class="row">
							<div class="col-md-4">
								<div class="form-floating mb-2">
									<input type="text" class="form-control" id="managerName" name="managerName" maxLength="50" placeholder="your name" autocomplete="off" required>
									<label for="managerName">your name</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-floating mb-2">
									<input type="text" class="form-control" id="managerTeam" name="managerTeam" maxLength="50" placeholder="your team name (or division, department etc.)" autocomplete="off" required>
									<label for="managerTeam">your team name (or division, department etc.)</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-floating mb-2">
									<input type="text" class="form-control" id="managerPhone" name="managerPhone" maxLength="30" placeholder="ditect phone number (without -)" autocomplete="off" required>
									<label for="managerPhone">direct phone number (without -)</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="form-floating mb-2">
									<input type="email" class="form-control" id="managerEmail" name="managerEmail" minLength="8" maxLength="50" placeholder="your@email.com" autocomplete="off" required>
									<label for="managerEmail">your@email.com (it'll be your ID)</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-floating mb-2">
									<input type="password" class="form-control" id="usrPassword" name="usrPassword" minLength="8" maxLength="20" placeholder="your password" autocomplete="off" required>
									<label for="usrPassword">your password</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-floating mb-2">
									<input type="password" class="form-control" id="usrPasswordAgain" name="usrPasswordAgain" minLength="8" maxLength="20" placeholder="your password again" autocomplete="off" required>
									<label for="usrPasswordAgain">your password again</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
							</div>
							<div class="col-md-4">
								<div class="form-footer">
									<button type="submit" class="btn btn-primary w-100" onclick="submitCompanyInfo()">Submit</button>
								</div>
							</div>
							<div class="col-md-4">
							</div>
						</div>
 
    				</form>
				</div>

			</div>

		<script>
			// @formatter:off
			document.addEventListener("DOMContentLoaded", function () {
				window.ApexCharts && (new ApexCharts(document.getElementById('chart-01'), {
					chart: {
						type: "bar",
						fontFamily: 'inherit',
						height: 80.0,
						sparkline: {
							enabled: true
						},
						animations: {
							enabled: false
						},
					},
					plotOptions: {
						bar: {
							columnWidth: '50%',
						}
					},
					dataLabels: {
						enabled: false,
					},
					fill: {
						opacity: 1,
					},
					series: [{
						name: "count",
						data: [37, 35, 44, 28, 36, 24, 65, 31, 37, 39, 62, 51, 35, 41, 35, 27, 93, 53, 61, 27, 54, 43, 19, 46, 39, 62, 51, 35, 41, 67]
					}],
					tooltip: {
						theme: 'dark'
					},
					grid: {
						strokeDashArray: 4,
					},
					xaxis: {
						labels: {
							padding: 0,
						},
						tooltip: {
							enabled: false
						},
						axisBorder: {
							show: false,
						},
						type: 'datetime',
					},
					yaxis: {
						labels: {
							padding: 4
						},
					},
					labels: [
						'2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04', '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-11', '2020-07-12', '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17', '2020-07-18', '2020-07-19', '2020-07-20'
					],
					colors: [tabler.getColor("secondary")],
					legend: {
						show: false,
					},
				})).render();
			});
			// @formatter:on
		</script>


		<script>
			// @formatter:off
			document.addEventListener("DOMContentLoaded", function () {
				window.ApexCharts && (new ApexCharts(document.getElementById('chart-02'), {
					chart: {
						type: "bar",
						fontFamily: 'inherit',
						height: 80.0,
						sparkline: {
							enabled: true
						},
						animations: {
							enabled: false
						},
					},
					plotOptions: {
						bar: {
							columnWidth: '50%',
						}
					},
					dataLabels: {
						enabled: false,
					},
					fill: {
						opacity: 1,
					},
					series: [{
						name: "count",
						data: [37, 35, 44, 28, 36, 24, 65, 31, 37, 39, 62, 51, 35, 41, 35, 27, 93, 53, 61, 27, 54, 43, 19, 46, 39, 62, 51, 35, 41, 67]
					}],
					tooltip: {
						theme: 'dark'
					},
					grid: {
						strokeDashArray: 4,
					},
					xaxis: {
						labels: {
							padding: 0,
						},
						tooltip: {
							enabled: false
						},
						axisBorder: {
							show: false,
						},
						type: 'datetime',
					},
					yaxis: {
						labels: {
							padding: 4
						},
					},
					labels: [
						'2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04', '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-11', '2020-07-12', '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17', '2020-07-18', '2020-07-19', '2020-07-20'
					],
					colors: [tabler.getColor("secondary")],
					legend: {
						show: false,
					},
				})).render();
			});
			// @formatter:on
		</script>

		<script>
			// @formatter:off
			document.addEventListener("DOMContentLoaded", function () {
				window.ApexCharts && (new ApexCharts(document.getElementById('chart-03'), {
					chart: {
						type: "bar",
						fontFamily: 'inherit',
						height: 80.0,
						sparkline: {
							enabled: true
						},
						animations: {
							enabled: false
						},
					},
					plotOptions: {
						bar: {
							columnWidth: '50%',
						}
					},
					dataLabels: {
						enabled: false,
					},
					fill: {
						opacity: 1,
					},
					series: [{
						name: "count",
						data: [17, 35, 23, 28, 8, 24, 65, 31, 62, 39, 62, 51, 35, 41, 35, 27, 113, 53, 61, 27, 31, 13, 19, 46, 12, 62, 3, 35, 41, 67]
					}],
					tooltip: {
						theme: 'dark'
					},
					grid: {
						strokeDashArray: 4,
					},
					xaxis: {
						labels: {
							padding: 0,
						},
						tooltip: {
							enabled: false
						},
						axisBorder: {
							show: false,
						},
						type: 'datetime',
					},
					yaxis: {
						labels: {
							padding: 4
						},
					},
					labels: [
						'2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04', '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-11', '2020-07-12', '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17', '2020-07-18', '2020-07-19', '2020-07-20'
					],
					colors: [tabler.getColor("secondary")],
					legend: {
						show: false,
					},
				})).render();
			});
			// @formatter:on
		</script>

		<script>
			$(document).ready(function () {
				console.log("Document is ready.");
				//화면 접속시 바로 조회
				main();
			});
			
			function main() {
				// 그리드 초기화 및 데이터 로드
				console.log("Initializing SlickGrid...");
				
				// Controller에서 호출 테스트 - 콘솔 확인
				//getAdamsRegDtmTotal(); // 계정 생성 누적일 수
				//getAdamsLastLoginDtm(); // 가장 최근에 로그인한 날짜
				//getAdamsLoginCntTotal(); // 로그인 총 횟수
				getAdamsMonthLoginCnt(); // (전날 기준) 30일간 일별 로그인 횟수
				
				//getAdamsLastUploadDtm(); // 가장 최근에 파일 업로드 했던 날짜
				//getAdamsUploadCntTotal(); // 파일 업로드 총 횟수
				//getAdamsMonthUploadCnt(); // (전날 기준)30일간 일별 파일 업로드 횟수
				
				//getAdamsLastBatDtm(); // 가장 최근에 배치를 실행했던 날짜
				//getAdamsBatCntTotal(); // 배치 실행 총 횟수
				//getAdamsMonthBatCnt(); // (전날 기준) 30일간 일별 배치 실행 횟수

			}
			
			function getAdamsRegDtmTotal() {
				// CSRF 토큰과 헤더 이름을 메타 태그에서 가져오기
		        var csrfToken = $("meta[name='_csrf_token']").attr("content");
		        var csrfHeader = "X-CSRF-Token";
				$.ajax({
					type: "post",
					url: "/mypage/adamsRegDtmTotal",
					async: true,
					dataType: "json",
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify({
						usrId: ""
					}),
					beforeSend: function(xhr){
				        xhr.setRequestHeader(csrfHeader, csrfToken);
				    },
					success: function (data) {
						console.log("AJAX RegDtmTotal request successful. Data received:", data);
						var sMsg = data.loginMsg;
						if ( sMsg != null && sMsg != undefined && sMsg != "" ) {
							alert(sMsg);
						}
					},
					error: function (xhr, status, error) {
						errorHandler(xhr);
					},
				});
			}
			
			function getAdamsLastLoginDtm() {
				// CSRF 토큰과 헤더 이름을 메타 태그에서 가져오기
		        var csrfToken = $("meta[name='_csrf_token']").attr("content");
		        var csrfHeader = "X-CSRF-Token";
				$.ajax({
					type: "post",
					url: "/mypage/adamsLastLoginDtm",
					async: true,
					dataType: "json",
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify({
						usrId: ""
					}),
					beforeSend: function(xhr){
				        xhr.setRequestHeader(csrfHeader, csrfToken);
				    },
					success: function (data) {
						console.log("AJAX LastLoginDtm request successful. Data received:", data);
						var sMsg = data.loginMsg;
						if ( sMsg != null && sMsg != undefined && sMsg != "" ) {
							alert(sMsg);
						}
					},
					error: function (xhr, status, error) {
						errorHandler(xhr);
					},
				});
			}
			
			function getAdamsLoginCntTotal() {
				// CSRF 토큰과 헤더 이름을 메타 태그에서 가져오기
		        var csrfToken = $("meta[name='_csrf_token']").attr("content");
		        var csrfHeader = "X-CSRF-Token";
				$.ajax({
					type: "post",
					url: "/mypage/adamsLoginCntTotal",
					async: true,
					dataType: "json",
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify({
						usrId: ""
					}),
					beforeSend: function(xhr){
				        xhr.setRequestHeader(csrfHeader, csrfToken);
				    },
					success: function (data) {
						console.log("AJAX LoginCntTotal request successful. Data received:", data);
						var sMsg = data.loginMsg;
						if ( sMsg != null && sMsg != undefined && sMsg != "" ) {
							alert(sMsg);
						}
					},
					error: function (xhr, status, error) {
						errorHandler(xhr);
					},
				});
			}
			
			function getAdamsMonthLoginCnt() {
				// CSRF 토큰과 헤더 이름을 메타 태그에서 가져오기
		        var csrfToken = $("meta[name='_csrf_token']").attr("content");
		        var csrfHeader = "X-CSRF-Token";
				$.ajax({
					type: "post",
					url: "/mypage/adamsMonthLoginCnt",
					async: true,
					dataType: "json",
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify({
						usrId: ""
					}),
					beforeSend: function(xhr){
				        xhr.setRequestHeader(csrfHeader, csrfToken);
				    },
					success: function (data) {
						console.log("AJAX MonthLoginCnt request successful. Data received:", data);
						// 주석처리 검토
						var sMsg = data.loginMsg;
						if ( sMsg != null && sMsg != undefined && sMsg != "" ) {
							alert(sMsg);
						}
						
						// 차트를 위한 리스트 변환
						/*
						loginDtm = [], loginCnt = []
						
						loginDtm.forEach(function(data){
							loginDtm.push(data.accDtm);
						});
						loginCnt.forEach(function(data){
							loginCnt.push(data.loginCnt);
						});

						console.log("loginDtm : ", loginDtm);
						console.log("loginCnt : ", loginCnt);
						*/
					},
					error: function (xhr, status, error) {
						errorHandler(xhr);
					},
				});
			}
			
			function getAdamsLastUploadDtm() {
				// 가장 최근에 파일 업로드 했던 날짜
		        var csrfToken = $("meta[name='_csrf_token']").attr("content");
		        var csrfHeader = "X-CSRF-Token";
				$.ajax({
					type: "post",
					url: "/mypage/adamsLastUploadDtm",
					async: true,
					dataType: "json",
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify({
						usrId: ""
					}),
					beforeSend: function(xhr){
				        xhr.setRequestHeader(csrfHeader, csrfToken);
				    },
					success: function (data) {
						console.log("AJAX LastUploadDtm request successful. Data received:", data);
						var sMsg = data.loginMsg;
						if ( sMsg != null && sMsg != undefined && sMsg != "" ) {
							alert(sMsg);
						}
					},
					error: function (xhr, status, error) {
						errorHandler(xhr);
					},
				});
			}
			
			function getAdamsUploadCntTotal() {
				// 파일 업로드 총 횟수
		        var csrfToken = $("meta[name='_csrf_token']").attr("content");
		        var csrfHeader = "X-CSRF-Token";
				$.ajax({
					type: "post",
					url: "/mypage/adamsUploadCntTotal",
					async: true,
					dataType: "json",
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify({
						usrId: ""
					}),
					beforeSend: function(xhr){
				        xhr.setRequestHeader(csrfHeader, csrfToken);
				    },
					success: function (data) {
						console.log("AJAX UploadCntTotal request successful. Data received:", data);
						var sMsg = data.loginMsg;
						if ( sMsg != null && sMsg != undefined && sMsg != "" ) {
							alert(sMsg);
						}
					},
					error: function (xhr, status, error) {
						errorHandler(xhr);
					},
				});
			}
			
			function getAdamsMonthUploadCnt() {
				// (전날 기준)30일간 일별 파일 업로드 횟수
		        var csrfToken = $("meta[name='_csrf_token']").attr("content");
		        var csrfHeader = "X-CSRF-Token";
				$.ajax({
					type: "post",
					url: "/mypage/adamsMonthUploadCnt",
					async: true,
					dataType: "json",
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify({
						usrId: ""
					}),
					beforeSend: function(xhr){
				        xhr.setRequestHeader(csrfHeader, csrfToken);
				    },
					success: function (data) {
						console.log("AJAX MonthUploadCnt request successful. Data received:", data);
						var sMsg = data.loginMsg;
						if ( sMsg != null && sMsg != undefined && sMsg != "" ) {
							alert(sMsg);
						}
					},
					error: function (xhr, status, error) {
						errorHandler(xhr);
					},
				});
			}
			
			function getAdamsLastBatDtm() {
				// 가장 최근에 배치를 실행 했던 날짜
		        var csrfToken = $("meta[name='_csrf_token']").attr("content");
		        var csrfHeader = "X-CSRF-Token";
				$.ajax({
					type: "post",
					url: "/mypage/adamsLastBatDtm",
					async: true,
					dataType: "json",
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify({
						usrId: ""
					}),
					beforeSend: function(xhr){
				        xhr.setRequestHeader(csrfHeader, csrfToken);
				    },
					success: function (data) {
						console.log("AJAX LastBatDtm request successful. Data received:", data);
						var sMsg = data.loginMsg;
						if ( sMsg != null && sMsg != undefined && sMsg != "" ) {
							alert(sMsg);
						}
					},
					error: function (xhr, status, error) {
						errorHandler(xhr);
					},
				});
			}
			
			function getAdamsBatCntTotal() {
				// 배치 실행 총 횟수
		        var csrfToken = $("meta[name='_csrf_token']").attr("content");
		        var csrfHeader = "X-CSRF-Token";
				$.ajax({
					type: "post",
					url: "/mypage/adamsBatCntTotal",
					async: true,
					dataType: "json",
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify({
						usrId: ""
					}),
					beforeSend: function(xhr){
				        xhr.setRequestHeader(csrfHeader, csrfToken);
				    },
					success: function (data) {
						console.log("AJAX BatCntTotal request successful. Data received:", data);
						var sMsg = data.loginMsg;
						if ( sMsg != null && sMsg != undefined && sMsg != "" ) {
							alert(sMsg);
						}
					},
					error: function (xhr, status, error) {
						errorHandler(xhr);
					},
				});
			}
			
			function getAdamsMonthBatCnt() {
				// (전날 기준)30일간 일별 배치를 실행한 횟수
		        var csrfToken = $("meta[name='_csrf_token']").attr("content");
		        var csrfHeader = "X-CSRF-Token";
				$.ajax({
					type: "post",
					url: "/mypage/adamsMonthBatCnt",
					async: true,
					dataType: "json",
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify({
						usrId: ""
					}),
					beforeSend: function(xhr){
				        xhr.setRequestHeader(csrfHeader, csrfToken);
				    },
					success: function (data) {
						console.log("AJAX MonthBatCnt request successful. Data received:", data);
						var sMsg = data.loginMsg;
						if ( sMsg != null && sMsg != undefined && sMsg != "" ) {
							alert(sMsg);
						}
					},
					error: function (xhr, status, error) {
						errorHandler(xhr);
					},
				});
			}
		</script>
	</th:block>
</html>
