<!doctype html>
<html lang="en">
 	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge; chrome=1"/>
		<title>iFrame 2.0 - Cloud IFRS17 Closing Services</title>
		<!-- CSS file -->
		<link href="css/css-tabler/tabler.min.css?1692870487" rel="stylesheet"/>
		<!-- Javascript file -->
		<script src="js/js-tabler/tabler.min.js?1692870487" defer></script>
		<script src="js/jquery-3.7.1.min.js"></script>
		<script src="js/common.js"></script>
    	<script src="js/utils.js"></script>
		<style>
			@import url('https://rsms.me/inter/inter.css');
			:root {
			--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
			}
		</style>
	</head>
	<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
		<div class="page page-center">
    		<div class="container container-tight">
    			<div class="text-center mb-5">
					<span class="navbar-brand" data-bs-toggle="tooltip" data-bs-placement="top" title="Cloud IFRS17 Closing Services">
					<span style="font-style: italic; font-size: 2em; font-family: Times New Roman; color: #0054a6;">i</span><span style="font-size: 2em; color: #0054a6;">Frame 2.0</span></span>
				</div>
			    <form class="card card-md" id="resetPasswordForm" name="resetPasswordForm" method="post" action="/auth/adamsFindPw" autocomplete="off" onsubmit="return false;">
					<div class="card-body">
						<h2 class="card-title text-center mb-4">Forgot password</h2>
						<p class="text-secondary mb-4">Enter your information and your company administrator will reset your password and email you.</p>

						<div class="form-floating mb-2">
							<select class="form-select" id="companyDivision" name="companyDivision" autocomplete="off" required>
								<option selected value="1">DUNS Number</option>
								<option value="2">Corporation Number</option>
								<option value="3">Business Registration Number</option>
							</select>
							<label for="companyDivision">type of your company identification</label>
						</div>

						<div class="form-floating mb-2">
							<input type="text" class="form-control" id="companyNo" name="companyNo" maxLength="20" placeholder="your company number (without -)" autocomplete="off" required>
							<label for="companyNo">your company number(without -)</label>
						</div>
						<div class="form-floating mb-2">
							<input type="email" class="form-control" id="userId" name="userId" minLength="8" maxLength="50" placeholder="your@email.com" autocomplete="off" required>
							<label for="userId">your@email.com</label>
						</div>

						<div class="form-floating mb-2">
							<input type="text" class="form-control" id="userPhone" name="userPhone" maxLength="20" placeholder="your phone number(without -)" autocomplete="off" required>
							<label for="userPhone">your phone number(without -)</label>
						</div>

						<div class="form-footer">
							<button type="submit" class="btn btn-primary w-100" onclick="submitRequest()">Submit</button>
						</div>
			    </form>
			</div>
			<div class="text-center text-secondary mt-3">
				Forget it, <a href="./login.html" id="gotomain" tabindex="-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Move to login page" style="text-decoration: none;">send me back</a> to the sign in screen.
			</div>
		</div>
		<div class="text-center text-secondary mt-3 mb-3">
			<span style="font-size: 0.7em;">Copyright © 2024 RNA Data System. All Rights Reserved.</span>
		</div>
		<form id="form" name="form" method="post" action="/menuLink">
			<input type="hidden" id="pageName" name="pageName" />
		</form>

<script>
    function submitRequest() {
        
    	var vCompNoDvCd = $("#companyDivision").val();
    	var vCompNo     = $("#companyNo").val();
    	var vUsrId      = $("#userId").val();
    	var vUsrPhNo    = $("#userPhone").val();
    	
    	if ( isNull(vCompNoDvCd) == "" ) {
            alert("Select Company Number Type.");
            $("#companyDivision").focus();
    		return;
    	}
    	
    	if ( isNull(vCompNo) == "" ) {
            alert("Enter Company Number.");
            $("#companyNo").focus();
    		return;
    	}
    	
    	if ( isNull(vUsrId) == "" ) {
            alert("Enter ID.");
            $("#userId").focus();
    		return;
    	}
    	
    	if ( isNull(vUsrPhNo) == "" ) {
            alert("Enter Phone Number.");
            $("#userPhone").focus();
    		return;
    	}
    	
    	
    	
    	const requestData = {
              compNoDvCd : vCompNoDvCd
            , compNo     : vCompNo
            , usrId      : vUsrId
            , usrPhNo    : vUsrPhNo
        };

        $.ajax({
            type: "post",
            url: "/auth/adamsFindPw",
            async: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(requestData),
            success: function (data) {
                
            	//alert("비밀번호 초기화 신청이 완료되었습니다. 이메일로 임시 비밀번호가 전송됩니다.");
                alert("Your password reset application has been completed. A temporary password will be sent to your email.");

				console.log("AJAX request successful. Data received:", data);
				
				$("#pageName").val(data.redirectUrl);
				$("#form").submit();
            },
            error: function (xhr, status, error) {
                //alert("오류가 발생했습니다. 다시 시도해주세요.");
                //alert("An error occurred. Please try again.");
            	errorHandler(xhr);
            }
        });
    }

	function goMenuPage (pageName) {
		$("#pageName").val(pageName);
		$("#form").submit();
	};
	$(document).ready(function () {
		$('#gotomain').click(function(e){
			e.preventDefault(); // 링크 기본 동작 방지
			console.log("Pushed logoutButten.");
			$.ajax({
					type: "GET",
					url: "/auth/adamsLogout",
					async: true,
					dataType: "json",
					contentType: "application/json; charset=utf-8",
					success: function (response, textStatus, xhr) {
						if(xhr.status == 200) {
						console.log("Success Logout. Go to Login page.");
						goMenuPage("/login");
						}
					},
					error: function(xhr, textStatus, errorThrown) {
						console.error('Request failed: ' + textStatus);
					}
			});
		});
	});   
</script>

	</body>
</html>