<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
	<div class="page-wrapper" id="page-wrapper">
		<div class="container" id="'container">
			<h2>Load History</h2>
			<div class="ptag-container">
				<span><a href="#"> Home ></a></span> <span><a href="#"> Load History</a></span>
				<div class="form-container">
					<div class="form-box">
						<form id="divSearch" name="divSearch" method="post" action="/WRKFIL001M0SelectList" onsubmit="return false;">
							<div class="row">
								<div class="col">
									<div class="col">
										<label for="lblUploadFileList" class="form-label">File Title : </label>
										<select id="cmbUploadFileList" name="cmbUploadFileList" required="required" class="form-select">
											<option selected="selected" value="">- select -</option>
										</select>
									</div>
								</div>
								<div class="col">
									<label class="form-label">From</label>
									<div class="input-icon mb-2">
										<input class="form-control " placeholder="Select a date" id="datepicker-icon" value="2020-06-20" style="padding: 3px" /> <span class="input-icon-addon"> <!-- Download SVG icon from http://tabler-icons.io/i/calendar --> <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" />
                          <path d="M16 3v4" />
                          <path d="M8 3v4" />
                          <path d="M4 11h16" />
                          <path d="M11 15h1" />
                          <path d="M12 15v3" /></svg>
										</span>
									</div>
								</div>
								<div class="col">
									<label class="form-label"> Until </label>
									<div class="input-icon">
										<input class="form-control" placeholder="Select a date" id="datepicker-icon-prepend" value="2020-06-20" /> <span class="input-icon-addon"> <!-- Download SVG icon from http://tabler-icons.io/i/calendar --> <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                      <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" />
                                      <path d="M16 3v4" />
                                      <path d="M8 3v4" />
                                      <path d="M4 11h16" />
                                      <path d="M11 15h1" />
                                      <path d="M12 15v3" />
                                    </svg>
										</span>
									</div>
								</div>
								<div class="col">
									<label class="form-label">Year/Month: </label>
									<div class="input-icon mb-2">
										<input type="month" class="form-control " placeholder="Select a date" id="datepicker-icon" value="2020-06-20" style="padding: 3px" /> <span class="input-icon-addon"> <!-- Download SVG icon from http://tabler-icons.io/i/calendar --> <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" />
                          <path d="M16 3v4" />
                          <path d="M8 3v4" />
                          <path d="M4 11h16" />
                          <path d="M11 15h1" />
                          <path d="M12 15v3" /></svg>
										</span>
									</div>
								</div>
								<div class="col">
									<label class="form-label">Year/Month: </label>
									<div class="input-icon mb-2">
										<input type="month" class="form-control " placeholder="Select a date" id="datepicker-icon" value="2020-06-25" style="padding: 3px" /> <span class="input-icon-addon"> <!-- Download SVG icon from http://tabler-icons.io/i/calendar --> <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" />
                          <path d="M16 3v4" />
                          <path d="M8 3v4" />
                          <path d="M4 11h16" />
                          <path d="M11 15h1" />
                          <path d="M12 15v3" /></svg>
										</span>
									</div>
								</div>
							</div>
							<div class="row mt-3">
								<!-- <div class="col">
                                    <form method="post" id="uploadFrm" enctype="multipart/form-data">
                                        <input 
                                            id="btnFileUpload" 
                                            name="btnFileUpload" 
                                            type="file" 
                                            value="파일선택" 
                                            accept=".xlsx, .xls"
                                            style="
                                                font-size: 13px"
                                        />
                                    </form>
                                </div> -->
								<div class="col text-end">
									<button name="btnSearch" type="button" class=" btn btn-primary" style="padding: 4px 10px; color: white; font-size: 13px;" onclick="getSearchList()" data-test="create-button">Search</button>
									<!-- <button
                                      name="btnExcelDown"
                                      type="button"
                                      class="btn btn-lime"
                                      style="
                                        padding: 4px 10px; 
                                        color: white; 
                                        font-size: 13px;" 
                                      id="downloadExcel"
                                      onclick="getExcelList()"
                                      data-test="edit-button"
                                    >
                                      Download
                                    </button>
                                    
                                    <button
                                      name="btnSave"
                                      type="button" 
                                      class=" btn btn-secondary" 
                                      style="
                                        padding: 4px 10px; 
                                        color: white; 
                                        font-size: 13px;" 
                                      onclick="setSaveUploadFile()"
                                      data-test="edit-button"
                                    >
                                      Save
                                    </button> -->
								</div>
							</div>
					</div>
					<div class="row mt-3"></div>
					</form>
				</div>
				<div style="padding-top: 2em">
					<form name="divData">
						<p>
							►&nbsp;<label for="lblGrdTitle">Grid Content</label>
						</p>

						<table align="center" border="1" cellpadding="1" cellspacing="1" style="width: 500px">
							<div id="divGrdMain" style="width: 1284px; height: 750px"></div>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
      $(document).ready(function () {
        console.log("Document is ready.");
        $("input").on("keyup", function (key) {
          if (key.keyCode == 13) {
            getSearchList();
          }
        });
        // 파일관리화면의 조회부분 : TODO 공동으로 뺴놓기
        // MyBatis를 통해 데이터를 가져오는 AJAX 요청
        $.ajax({
          type: "post",
          url: "/WRKFIL003M0SelectFileList",
          async: false,
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify({
            uploadFile: "",
            stdYymm: "",
          }),
          success: function (response) {
            populateDropdown(response);
          },
          error: function (error) {
            console.error("Error fetching file names:", error);
          },
        });

        // DropDown 리스트에 FILE_NM 값을 추가하는 함수
        function populateDropdown(data) {
          var dropdown = $("#cmbUploadFileList");
          data.forEach(function (item) {
            var option = $("<option></option>")
              .attr("value", item.seqNo)
              .text(item.tblId + "(" + item.fileNm + ")");
            dropdown.append(option);
          });
        }
      });

      function getSearchList() {
        console.log("Sending AJAX request...");

        $.ajax({
          type: "post",
          url: "/WRKFIL004M0SelectList",
          async: true,
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify({
            uploadFile: $("#cmbUploadFileList").val(),
            startLoadDate: $("#inpStartLoadDate").val(),
            endLoadDate: $("#inpEndLoadDate").val(),
            startStdYymm: $("#inpStartStdYm").val(),
            endStdYymm: $("#inpEndStdYm").val(),
          }),

          success: function (data) {
            console.log("AJAX request successful. Data received:", data);

            var grdData = data;

            if (grdData && grdData.length > 0) {
              // 컬럼 생성
              var newRowIds = 0;
              var pluginOptions = {
                clipboardCommandHandler: function (editCommand) {
                  undoRedoBuffer.queueAndExecuteCommand.call(
                    undoRedoBuffer,
                    editCommand
                  );
                },
                readOnlyMode: false,
                includeHeaderWhenCopying: false,
                newRowCreator: function (count) {
                  for (var i = 0; i < count; i++) {
                    var item = { id: "newRow_" + newRowIds++ };
                    grid.getData().addItem(item);
                  }
                },
              };

              var columns = [
                {
                  id: "seqNo",
                  name: "순번",
                  field: "seqNo",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "fileNm",
                  name: "파일명",
                  field: "fileNm",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "tblId",
                  name: "테이블ID",
                  field: "tblId",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "fileNm",
                  name: "물리파일명",
                  field: "fileNm",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "loadCnt",
                  name: "적재건수",
                  field: "loadCnt",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "stdYm",
                  name: "기준년월",
                  field: "stdYm",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "regUsrid",
                  name: "등록자",
                  field: "regUsrid",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "loadStDt",
                  name: "적재시작일시",
                  field: "loadStDt",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "loadEdDt",
                  name: "적재종료일시",
                  field: "loadEdDt",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "loadSuccYn",
                  name: "적재성공여부",
                  field: "loadSuccYn",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
              ];

              /*
                                      var keys    = Object.keys(grdData[0]);
                                      for (var i = 0; i < keys.length; i++)
                                      {
                                          columns.push({ id: keys[i], name: keys[i], field: keys[i], sortable: true, editor: Slick.Editors.Text });
                                      }
                                      */

              // 그리드 옵션
              var options = {
                enableCellNavigation: true,
                enableColumnReorder: false,
                forceFitColumns: true,
                multiColumnSort: true,
                numberedMultiColumnSort: true,
                tristateMultiColumnSort: true,
                sortColNumberInSeparateSpan: true,
                enableAutoSizeColumns: true,
                editable: false,
                enableAddRow: false,
                asyncEditorLoading: false,
                autoEdit: false,
                autoEditNewRow: false,
                enableAutoSizeColumns: true,
              };

              // 그리드 초기화 및 데이터 로드
              console.log("Initializing SlickGrid...");

              var grid = new Slick.Grid(
                "#divGrdMain",
                grdData,
                columns,
                options
              );

              // when "onBeforeSort" returns false, the "onSort" won't execute (for example a backend server error while calling backend query to sort)
              grid.onBeforeSort.subscribe(function (e, args) {
                return true;
              });

              // 정렬
              grid.onSort.subscribe(function (e, args) {
                var cols = args.sortCols;

                grdData.sort(function (dataRow1, dataRow2) {
                  for (var i = 0, l = cols.length; i < l; i++) {
                    var field = cols[i].sortCol.field;
                    var sign = cols[i].sortAsc ? 1 : -1;
                    var value1 = dataRow1[field],
                      value2 = dataRow2[field];
                    var result =
                      (value1 == value2 ? 0 : value1 > value2 ? 1 : -1) *
                      sign;
                    if (result != 0) {
                      return result;
                    }
                  }
                  return 0;
                });
                grid.invalidate();
                grid.render();
              });

              grid.setSelectionModel(new Slick.CellSelectionModel());
              grid.registerPlugin(new Slick.AutoTooltips());

              // set keyboard focus on the grid
              grid.getCanvasNode().focus();

              grid.registerPlugin(
                new Slick.CellExternalCopyManager(pluginOptions)
              );

              grid.onAddNewRow.subscribe(function (e, args) {
                var item = args.item;
                var column = args.column;
                grid.invalidateRow(grdData.length);
                grdData.push(item);
                grid.updateRowCount();
                grid.render();
              });

              console.log("SlickGrid initialized.");
            } else {
              console.log("No data returned from the server.");
            }
          },
          error: function (xhr, status, error) {
            console.error("!!!! ERROR !!!!!", status, error);
          },
        });
      }
  </script>
	<script>
  // @formatter:off
  document.addEventListener("DOMContentLoaded", function () {
    window.Litepicker && (new Litepicker({
        element: document.getElementById('datepicker-default'),
        buttonText: {
            previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>`,
            nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>`,
        },
    }));
  });
  // @formatter:on
  </script>
	<script>
  // @formatter:off
  document.addEventListener("DOMContentLoaded", function () {
    window.Litepicker && (new Litepicker({
        element: document.getElementById('datepicker-icon'),
        buttonText: {
            previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>`,
            nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>`,
        },
    }));
  });
  // @formatter:on
  </script>
	<script>
  // @formatter:off
  document.addEventListener("DOMContentLoaded", function () {
    window.Litepicker && (new Litepicker({
        element: document.getElementById('datepicker-icon-prepend'),
        buttonText: {
            previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>`,
            nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>`,
        },
    }));
  });
  // @formatter:on
  </script>
	<script>
  // @formatter:off
  document.addEventListener("DOMContentLoaded", function () {
    window.Litepicker && (new Litepicker({
        element: document.getElementById('datepicker-inline'),
        buttonText: {
            previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>`,
            nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>`,
        },
        inlineMode: true,
    }));
  });
  // @formatter:on
  </script>
</th:block>
</html>
