<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
  <script src="js/js-tabler/demo-theme.min.js?1692870487"></script>
	<div class="page-wrapper" id="page-wrapper">
		<div class="container" id="container">
			<h2>[[${menuNm}]]</h2>
			<div class="ptag-container">
				<span>[[${navigator}]]</span>
				<div class="form-container">
					<div class="form-box">
						<form id="divSearch" name="divSearch" method="post" action="/WRKFIL001M0SelectList" onsubmit="return false;">
							<div class="row align-items-center">
								<div class="col-auto">
										<label for="lblUploadFileList" class="form-label">File Title : </label>
										<select id="cmbUploadFileList" name="cmbUploadFileList" required="required" class="form-select select-options p-1">
											<option selected="selected" value="">- select -</option>
										</select>
								</div>
								<div class="col-auto">
									<label class="form-label">Load Date: </label>
									<div class="input-icon">
										<input class="form-control select-date p-1" placeholder="Select a date" id="datepicker-icon" value="2020-06-20" style="padding: 3px" /> 
                    <span class="input-icon-addon ">  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" />
                          <path d="M16 3v4" />
                          <path d="M8 3v4" />
                          <path d="M4 11h16" />
                          <path d="M11 15h1" />
                          <path d="M12 15v3" /></svg>
										</span>
									</div>
								</div>
                <div class="col-auto mt-4">
                  <div class="">
                    ~
                  </div>
                </div>
								<div class="col-auto">
									<label class="form-label">&nbsp; </label>
									<div class="input-icon">
										<input class="form-control  select-date p-1" placeholder="Select a date" id="datepicker-icon-prepend" value="2020-06-20" /> <span class="input-icon-addon"> <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" />
                          <path d="M16 3v4" />
                          <path d="M8 3v4" />
                          <path d="M4 11h16" />
                          <path d="M11 15h1" />
                          <path d="M12 15v3" />
                        </svg>
										</span>
									</div>
								</div>
                 <!-- Month Select -->
                 <div class="col-auto">
                  <label class="form-label">Standard Year/Month: </label>
                  <input
                    id="inpStartStdYm"
                    type="text"
                    name="input-mask"
                    class="form-control select-month-year p-1"
                    data-mask="00/0000"
                    data-mask-visible="true"
                    placeholder="00/0000"
                    autocomplete="off"
                  />
                </div>
                <div class="col-auto">
                  <div class="input-icon mt-4">
                    ~
                  </div>
                </div>
                <!-- Year Select -->
                <div class="col-auto">
                  <label class="form-label">&nbsp; </label>
                  <input
                    id="inpEndStdYm"
                    type="text"
                    name="input-mask"
                    class="form-control select-month-year p-1"
                    data-mask="00/0000"
                    data-mask-visible="true"
                    placeholder="00/0000"
                    autocomplete="off"
                  />
                </div>
                <div class="col"> 
                  <button
                    name="btnSearch" 
                    type="button" 
                    class="btn btn-primary search-button p-1"
                    onclick="getSearchList()"
                    data-test="create-button"
                  >
                    Search
                  </button>
                </div>
                <div class="row mt-3"></div>
							</div>
					</div>
					<div class="row mt-3"></div>
					</form>
				</div>
				<div style="padding-top: 2em">  
          <!-- <p>
          ►&nbsp;<label for="lblGrdTitle">Grid Content</label>
        </p> -->
          <div class="card card-md">
            <form name="divData">
              <div align="center" >
                <table id="divGrdMain" style="width: 1284px; height: 500px" ></table>
              </div>
            </form>
          </div>
				</div>
			</div>
		</div>
	</div>
	<script>
      $(document).ready(function () {
        console.log("Document is ready.");
        $("input").on("keyup", function (key) {
          if (key.keyCode == 13) {
            getSearchList();
          }
        });
        // 파일관리화면의 조회부분 : TODO 공동으로 뺴놓기
        // MyBatis를 통해 데이터를 가져오는 AJAX 요청
        $.ajax({
          type: "post",
          url: "/WRKFIL003M0SelectFileList",
          async: false,
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify({
            uploadFile: "",
            stdYymm: "",
          }),
          success: function (response) {
            populateDropdown(response);
          },
          error: function (error) {
            console.error("Error fetching file names:", error);
          },
        });

        // DropDown 리스트에 FILE_NM 값을 추가하는 함수
        function populateDropdown(data) {
          var dropdown = $("#cmbUploadFileList");
          data.forEach(function (item) {
            var option = $("<option></option>")
              .attr("value", item.seqNo)
              .text(item.tblId );
            dropdown.append(option);
          });
        }
      });

     
      function getSearchList() {
        console.log("Sending AJAX request...");

        // mwthod that flips the date format
        const flipDate = (input) => {
          let date = input.split("/");
          return date[1] + date[0];
        }

        function clearInputField(inputValue) {
          let value  = inputValue.value;
          let cleanedValue = value.replace(/[_\/\s]/g, '');
          if(cleanedValue === "") {
            inputValue.value = "";
          } else if (inputValue.value !== "") {
            // if the user enters a value,flip the date format to YYYYMM and reutrn the value
            flipDate(inputValue.value);
          }
        }

        let clearedinptStartYm =  clearInputField(document.getElementById('inpStartStdYm'));
        let clearedinptEndYm =  clearInputField(document.getElementById('inpEndStdYm'));


        console.log("inputStartStdYm after sending outside the loop", inputStartStdYm);
        console.log("inputEndStdYm after sending", inputEndStdYm);

        const inputStartLoadDate = $("#datepicker-icon").val().split("-").join("");
        const inputEndLoadDate = $("#datepicker-icon-prepend").val().split("-").join("");

        $.ajax({
          type: "post",
          url: "/WRKFIL004M0SelectList",
          async: true,
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify({
            uploadFile: $("#cmbUploadFileList").val(),
            startLoadDate: inputStartLoadDate,
            endLoadDate: inputEndLoadDate,
            startStdYymm: clearedinptStartYm,
            endStdYymm: clearedinptEndYm,
          }),

          success: function (data) {
            console.log("AJAX request successful. Data received:", data);

            var grdData = data;

            if (grdData && grdData.length > 0) {
              // 컬럼 생성
              var newRowIds = 0;
              var pluginOptions = {
                clipboardCommandHandler: function (editCommand) {
                  undoRedoBuffer.queueAndExecuteCommand.call(
                    undoRedoBuffer,
                    editCommand
                  );
                },
                readOnlyMode: false,
                includeHeaderWhenCopying: false,
                newRowCreator: function (count) {
                  for (var i = 0; i < count; i++) {
                    var item = { id: "newRow_" + newRowIds++ };
                    grid.getData().addItem(item);
                  }
                },
              };

              var columns = [
                {
                  id: "seqNo",
                  name: "Seq",
                  field: "seqNo",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "tblId",
                  name: "Table ID",
                  field: "tblId",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "fileNm",
                  name: "File Name",
                  field: "fileNm",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "loadCnt",
                  name: "Load Count",
                  field: "loadCnt",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "stdYm",
                  name: "Standard YYYY/MM",
                  field: "stdYm",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "regUsrid",
                  name: "registrant",
                  field: "regUsrid",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "loadStDt",
                  name: "Load Start Date",
                  field: "loadStDt",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "loadEdDt",
                  name: "Load End Date",
                  field: "loadEdDt",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
                {
                  id: "loadSuccYn",
                  name: "Load Success",
                  field: "loadSuccYn",
                  sortable: true,
                  editor: Slick.Editors.Text,
                },
              ];

              /*
                                      var keys    = Object.keys(grdData[0]);
                                      for (var i = 0; i < keys.length; i++)
                                      {
                                          columns.push({ id: keys[i], name: keys[i], field: keys[i], sortable: true, editor: Slick.Editors.Text });
                                      }
                                      */

              // 그리드 옵션
              var options = {
                enableCellNavigation: true,
                enableColumnReorder: false,
                forceFitColumns: true,
                multiColumnSort: true,
                numberedMultiColumnSort: true,
                tristateMultiColumnSort: true,
                sortColNumberInSeparateSpan: true,
                enableAutoSizeColumns: true,
                editable: false,
                enableAddRow: false,
                asyncEditorLoading: false,
                autoEdit: false,
                autoEditNewRow: false,
                enableAutoSizeColumns: true,
              };

              // 그리드 초기화 및 데이터 로드
              console.log("Initializing SlickGrid...");

              var grid = new Slick.Grid(
                "#divGrdMain",
                grdData,
                columns,
                options
              );

              // when "onBeforeSort" returns false, the "onSort" won't execute (for example a backend server error while calling backend query to sort)
              grid.onBeforeSort.subscribe(function (e, args) {
                return true;
              });

              // 정렬
              grid.onSort.subscribe(function (e, args) {
                var cols = args.sortCols;

                grdData.sort(function (dataRow1, dataRow2) {
                  for (var i = 0, l = cols.length; i < l; i++) {
                    var field = cols[i].sortCol.field;
                    var sign = cols[i].sortAsc ? 1 : -1;
                    var value1 = dataRow1[field],
                      value2 = dataRow2[field];
                    var result =
                      (value1 == value2 ? 0 : value1 > value2 ? 1 : -1) *
                      sign;
                    if (result != 0) {
                      return result;
                    }
                  }
                  return 0;
                });
                grid.invalidate();
                grid.render();
              });

              grid.setSelectionModel(new Slick.CellSelectionModel());
              grid.registerPlugin(new Slick.AutoTooltips());

              // set keyboard focus on the grid
              grid.getCanvasNode().focus();

              grid.registerPlugin(
                new Slick.CellExternalCopyManager(pluginOptions)
              );

              grid.onAddNewRow.subscribe(function (e, args) {
                var item = args.item;
                var column = args.column;
                grid.invalidateRow(grdData.length);
                grdData.push(item);
                grid.updateRowCount();
                grid.render();
              });

              console.log("SlickGrid initialized.");
            } else {
              alert(
                "No data is found, please select another date."
              );
              console.log("No data returned from the server.");
            }
          },
          error: function (xhr, status, error) {
            console.error("!!!! ERROR !!!!!", status, error);
          },
        });
      }
  </script>
	
</th:block>
</html>
