<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/file_layout}">
	<th:block layout:fragment="content">
		<script src="js/demo-theme.min.js?1692870487"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	    <div class="page-wrapper" id="page-wrapper">
	        <div class="container" id="container">
	            <h2>Login</h2>
				<div class="ptag-container">
					<span><a href="#"> Login</a></span>
		            <div class="form-container">
		                <div class="form-box">
		                    <form id="loginForm" name="loginForm" method="post" action="/auth/adamsLogin" onsubmit="return false;">
		                        <div class="row">
		                            <div class="col">
		                                <label for="cmbCsNo" class="form-label">Company:</label>
		                                <select id="cmbCsNo" name="cmbCsNo" class="form-select" required="required">
		                                    <option selected="selected" value=""> - Select - </option>
		                                    <option value="001">CS_NO1</option>
		                                    <option value="999">ADMIN</option>
		                                </select>
		                            </div>
		                        </div>
		                        <div class="row mt-2">
		                            <div class="col">
		                                <label for="inpUsrId" class="form-label">ID:</label>
		                                <input id="inpUsrId" name="inpUsrId" type="text" class="form-control" placeholder="Please enter your ID" required="required" />
		                            </div>
		                        </div>
		                        <div class="row mt-2">
		                            <div class="col">
		                                <label for="inpUsrPassword" class="form-label">PassWord:</label>
		                                <input id="inpUsrPassword" name="inpUsrPassword" type="password" class="form-control" placeholder="Please enter your password" required="required" />
		                            </div>
		                        </div>
		                        <div class="row mt-3 text-center">
		                            <div class="col">
		                                <button type="button" class="btn btn-primary" onclick="register()">New</button>
		                                <button type="submit" class="btn btn-secondary" onclick="login()">Login</button>
		                            </div>
		                        </div>
		                        <div class="row mt-2 text-center">
		                            <div class="col">
		                                <button type="button" class="btn btn-warning" onclick="resetPassword()">Reset Password</button>
		                            </div>
		                        </div>
		                    </form>
		                </div>
		            </div>
	            </div>
	        </div>
	    </div>
		<form id="form" name="form" method="post" action="/menuLink">
			<input type="hidden" id="pageName" name="pageName" />
		</form>
	    <script>
	        function register() {
	            alert('The new registration feature is not yet implemented.');
	        }
	
	        function login() {
	            
			    $.ajax({
			             type       : 'post'
			           , url        : '/auth/adamsLogin'
			           , async      : true
			           , dataType   : 'json'
			           , contentType: 'application/json; charset=utf-8'
			           , data       : JSON.stringify({
			        	   							   csNo        : $("#cmbCsNo").val()
			                                         , usrId       : $("#inpUsrId").val()
			                                         , usrPassword : $("#inpUsrPassword").val()
			                                        })
			        
			           , success: function(data) 
			                      {
			                           console.log("AJAX request successful. Data received:", data);

				       					$("#pageName").val(data.redirectUrl);
				       					$("#form").submit();
			                           
			                      }
			           , error: function(xhr, status, error) 
			                    {
			                        console.error("!!!! ERROR !!!!!", status, error);
			                    }
			    });
	        }
	
	        function resetPassword() {
	            alert('Requesting password reset...');
	            // 비밀번호 초기화 요청 코드 작성 필요
	        }
	    </script>
	</th:block>
</html>
