<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
	<head>
		<meta charset="UTF-8">
		<title>파일업로드</title>
		
		<link rel="stylesheet" href="css/jquery-ui-1.13.3/jquery-ui.css" type="text/css" />
		<link rel="stylesheet" href="js/slickgrid/dist/styles/css/slick.grid.css" type="text/css" />
		<link rel="stylesheet" href="js/slickgrid/dist/styles/css/slick-alpine-theme.css" type="text/css" />

		<link rel="stylesheet" href="js/slickgrid/dist/styles/css/slick.grid.css" type="text/css" />
		<link rel="stylesheet" href="js/slickgrid/dist/styles/css/slick-alpine-theme.css" type="text/css" />

		
		<!-- // tabler framework css files import -->
		<link href="css/css-tabler/tabler.min.css?1692870487" rel="stylesheet" />
		<link href="css/css-tabler/tabler-flags.min.css?1692870487" rel="stylesheet" />
		<link href="css/css-tabler/tabler-payments.min.css?1692870487" rel="stylesheet" />
		<link href="css/css-tabler/tabler-vendors.min.css?1692870487" rel="stylesheet" />
		<link href="css/css-tabler/demo.min.css?1692870487" rel="stylesheet" />
		
		<!-- // custom css for this page -->
		<link href="css/file-css.css" rel="stylesheet" />
		
	    <script
     	 src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    	></script>
		<script src="js/jquery-3.7.1.min.js"></script>
		<script src="js/jquery-ui.min.js"></script>
		<script src="js/slickgrid/lib/jquery.event.drag-2.3.0.js"></script>
		
		<script src="js/slickgrid/dist/browser/slick.core.js"></script>
		<script src="js/slickgrid/dist/browser/slick.interactions.js"></script>
		<script src="js/slickgrid/dist/browser/slick.grid.js"></script>
		<script src="js/slickgrid/dist/browser/plugins/slick.autotooltips.js"></script>
		<script src="js/slickgrid/dist/browser/plugins/slick.cellrangedecorator.js"></script>
		<script src="js/slickgrid/dist/browser/plugins/slick.cellrangeselector.js"></script>
		<script src="js/slickgrid/dist/browser/plugins/slick.cellexternalcopymanager.js"></script>
		<script src="js/slickgrid/dist/browser/plugins/slick.cellselectionmodel.js"></script>
		<script src="js/slickgrid/dist/browser/slick.editors.js"></script>
		<script src="js/slickgrid/dist/browser/slick.formatters.js"></script>
		<script src="js/slickgrid/dist/browser/slick.dataview.js"></script>
		<script src="js/slickgrid/dist/browser/plugins/slick.checkboxselectcolumn.js"></script>
		<script src="js/slickgrid/dist/browser/plugins/slick.rowselectionmodel.js"></script>
		<script src="js/slickgrid/dist/browser/slick.compositeeditor.js"></script>
		<script src="js/slickgrid/dist/browser/controls/slick.pager.js"></script>
		<script src="js/xlsx.full.min.js"></script>
		
		<!-- <script src="js/js-tabler/demo-theme.min.js?1692870487"></script> -->
		<script src="js/js-tabler/tabler.min.js?1692870487" defer></script>		
		<script src="js/libs-tabler/apexcharts/dist/apexcharts.min.js?1692870487" defer></script>
		<script src="js/libs-tabler/jsvectormap/dist/js/jsvectormap.min.js?1692870487" defer></script>
		<script src="js/libs-tabler/jsvectormap/dist/maps/world.js?1692870487" defer></script>
		<script src="js/libs-tabler/jsvectormap/dist/maps/world-merc.js?1692870487" defer></script>
        <script src="js/utils.js" defer></script>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

		<link href="css/common-css.css" rel="stylesheet" />

		<style>
			@import url("https://rsms.me/inter/inter.css");
			
			:root {
				--tblr-font-sans-serif: "Inter Var", -apple-system, BlinkMacSystemFont,
					San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
			}
			
			body {
				font-feature-settings: "cv03", "cv04", "cv11";
			}
			
		</style>
	</head>
</th:block>
</html>