<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
  <!-- <div class="page"> -->
  <script src="js/js-tabler/demo-theme.min.js?1692870487"></script>
  <link href="css/common-css.css" rel="stylesheet" />
  <div class="page-wrapper" id="page-wrapper">
    <!-- Main Container -->
    <div class="container" id="container">
      <h2>[[${menuNm}]]</h2>
      <div class="ptag-container">
        <span>[[${navigator}]]</span>
        <!-- page bopdy for the subscription -->
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <!-- Basic Plan Card -->
              <div class="col-sm-12 col-lg-4">
				<a class="card card-link card-link-pop h-100">
                  <div class="card-header">
                    <div class="w-100 text-center">
                      <span class="fs-2">Basic Service</span>
                    </div>
                  </div>                
                  <div class="card-body text-center">
                     <span class="fs-1 fw-bold">$ 3,999</span>&nbsp;&nbsp;&nbsp;<span>per month</span>
                     <br><br>
                    <span class="fs-2">5 Users</span>
                    <br><br>
                      <ul class="list-unstyled lh-lg">
                      <li>
                        <!-- Check Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l5 5l10 -10" />
                        </svg>
                        Custom Table Creation
                      </li>
                      <li>
                        <!-- Check Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l5 5l10 -10" />
                        </svg>
                        File to DB Migration
                      </li>
                      <li>
                        <!-- Check Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l5 5l10 -10" />
                        </svg>
                        Batch Job Running
                      </li>
                      <li>
                        <!-- Check Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l5 5l10 -10" />
                        </svg>
                        Liabilities Calculation
                      </li>
                      <li>
                        <!-- Check Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l5 5l10 -10" />
                        </svg>
                        User Management
                      </li>
                      <li>
                        <!-- Check Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l5 5l10 -10" />
                        </svg>
                        Cost & Usage Monitoring
                      </li>
                    </ul>
                  </div>
                    <div class="card-footer">
                      <button class="btn btn-primary w-100" id="basicSubscriptionButton" onclick="useBasicSubscription()"></button>
                    </div>
                  </a>
              </div>
              <div class="col-sm-12 col-lg-4">
				<a class="card card-link card-link-pop h-100">
                  <div class="card-header">
                    <div class="w-100 text-center">
                      <span class="fs-2">Premium Service</span>
                    </div>
                  </div>                
                  <div class="card-body text-center">
                    <span class="fs-1 fw-bold">$ 7,999</span>&nbsp;&nbsp;&nbsp;<span>per month</span>
                    <br><br>
                    <span class="fs-2">10 Users</span>
                    <br><br>
                     <ul class="list-unstyled lh-lg">
                      <li>
                        Basic Service
                      </li>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-copy-plus">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <path stroke="none" d="M0 0h24v24H0z" />
                          <path d="M7 9.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                          <path d="M4.012 16.737a2 2 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
                          <path d="M11 14h6" />
                          <path d="M14 11v6" />
                        </svg>
                      </li>
                      <li>
                        <!-- Check Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l5 5l10 -10" />
                        </svg>
                        Account Journaling
                      </li>
                      <li>
                        <!-- Check Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l5 5l10 -10" />
                        </svg>
                        Balance Sheet Creation
                      </li>
                      <li>
                        <!-- Check Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l5 5l10 -10" />
                        </svg>
                        Profit and Loss Creation
                      </li>
                      <li>
                        <!-- Check Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l5 5l10 -10" />
                        </svg>
                        Audit Trailing
                      </li>
                    </ul>
                  </div>
                    <div class="card-footer">
                      <button class="btn btn-primary w-100" id="premiumSubscriptionButton" onclick="usePremiumSubscription()"></button>
                    </div>
                  </a>
              </div>
              <div class="col-sm-12 col-lg-4">
				<a class="card card-link card-link-pop h-100">
                  <div class="card-header">
                    <div class="w-100 text-center">
                      <span class="fs-2">Additional Options</span>
                    </div>
                  </div>                
                  <div class="card-body text-center">
                  <form id="optionForm">
                    <div class="text-center mt-2 mb-5">
                      <span class="fs-3">If you would like to add some users, please select the option below.</span>
                    </div>
                    <div>
                      <select id="optionSelect" class="form-select">
                        <option value="">select the number of users</option>
                      </select>
                    </div>
                    <div class="text-center mt-5">
                      <span class="fs-3">It will be charged by the number of days as many as you used the option.</span>
                    </div>
                  </div>
                    <div class="card-footer">
                      <button type="button" class="btn btn-outline-secondary w-100" onclick="addOption()">Add</button>
                    </div>
                  </form>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <script>
    // Function to fetch all available options and populate the select element
    function fetchOptions() {
      $.ajax({
        type: "GET",
        url: "/ADMSRV001M0SelectAllOptions",
        async: true,
        dataType: "json",
        success: function (data) {
          console.log("Options fetched successfully:", data);
          var $optionSelect = $("#optionSelect");
          $optionSelect.empty();
          if (data.length > 0) {
            $optionSelect.append(
              '<option value="">select the number of users</option>'
            );
            $.each(data, function (index, option) {
              // Combine optCd and optDtlsCd as the value
              var value =
                option.optCd +
                "|" +
                option.optDtlsCd +
                "|" +
                option.optDtlsNm +
                "|" +
                option.optDtlsDesc;
              $optionSelect.append(
                '<option value="' +
                value +
                '">' +
                option.optDtlsDesc +
                "</option>"
              );
            });
            console.log("Options added to select element: ", data);
          } else {
            $optionSelect.append(
              '<option value="">No options available</option>'
            );
          }
        },
        error: function (xhr, status, error) {
          console.error("Error fetching options:", status, error);
          $("#optionSelect").html(
            '<option value="">Error loading options</option>'
          );
        },
      });
    }

    // write me function that will retreive the selcted option value's correspodning  optDtlsCd and send it to other cetch call request param value
    function getSelectedOptionValue() {
      var selectedValue = $("#optionSelect").val();
      if (selectedValue === "") {
        alert("Please select an option to add.");
        return;
      }

      // Split the selected value to get optCd and optDtlsCd
      var codes = selectedValue.split("|");
      var optCd = codes[0];
      console.log("Console logging the selectedValue: ", selectedValue);

      console.log("Console logging the optionCode code: ", codes[0]);
      var optDtlsCd = codes[1];
      console.log("Console logging the optioDeatils code: ", codes[1]);
    }

    // Call fetchOptions when the page loads
    $(document).ready(function () {
      fetchOptions();
    });

    // Function to handle "Use" button click for Basic Subscription
    function useBasicSubscription() {
      $.ajax({
        type: "POST",
        url: "/ADMSRV001M0MergeServiceOption",
        async: true,
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        xhrFields: {
          withCredentials: true,
        },
        data: JSON.stringify({
          srvcCd: "01", // Service code for Basic Subscription
        }),
        success: function (data) {
          console.log("Response data:", data);
          if (data.status === "success") {
            alert("Basic Subscription activated successfully.");
            console.log("Basic Subscription activation successful:", data);
            // will update the ui accordingly
            $("#basicSubscriptionButton")
              .text("Current Plan")
              .prop("disabled", true);
            $("#premiumSubscriptionButton")
              .text("Upgrade Now!")
              .prop("disabled", false);
          } else {
            alert("Failed to activate the Basic Subscription service.");
          }
        },
        error: function (xhr, status, error) {
          console.error(
            "Error activating Premium Subscription:",
            xhr.responseText || status,
            error
          );
          alert("Failed to activate Basic Subscription.");
        },
      });
    }

    // Function to handle "Use" button click for Premium Subscription
    function usePremiumSubscription() {
      $.ajax({
        type: "POST",
        url: "/ADMSRV001M0MergeServiceOption",
        async: true,
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        xhrFields: {
          withCredentials: true,
        },
        data: JSON.stringify({
          srvcCd: "02", // Service code for Premium Subscription
        }),
        success: function (data) {
          console.log("Response data:", data);
          if (data.status === "success") {
            alert("Premium Subscription activated successfully.");
            console.log("Premium Subscription activation successful:", data);
            // will update the ui to show the ui accordingly
            $("#premiumSubscriptionButton")
              .text("Current Plan")
              .prop("disabled", true);
            $("#basicSubscriptionButton")
              .text("Really?")
              .prop("disabled", false);
          } else {
            alert("Failed to activate the Premium Subscription service.");
          }
        },
        error: function (xhr, status, error) {
          console.error(
            "Error activating Premium Subscription:",
            xhr.responseText || status,
            error
          );
          alert("Failed to activate Premium Subscription.");
        },
      });
    }

    // Function to handle "Add" button click in Option Addition
    function addOption() {
      var selectedValue = $("#optionSelect").val();
      if (selectedValue === "") {
        alert("Please select an option to add.");
        return;
      }

      // Split the selected value to get optCd and optDtlsCd
      var codes = selectedValue.split("|");
      var optCd = codes[0];
      console.log("Console logging the selectedValue: ", codes);

      console.log("Console logging the optionCode code: ", codes[0]);
      var optDtlsCd = codes[1];
      console.log("Console logging the optioDeatils code: ", codes[1]);

      $.ajax({
        type: "POST",
        url: "/ADMSRV001M0UpdateOptionDetails",
        async: true,
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({
          optCd: optCd, // Option Code
          optDtlsCd: optDtlsCd, // Option Details Code
        }),
        success: function (data) {
          console.log("Response data:", data);
          if (data.status === "success") {
            alert("Option added successfully.");
            console.log("Option addition successful:", data);
            // Update the selected option display
            $("#selectedOption").text(
              $("#optionSelect option:selected").text()
            );
          } else {
            alert("Failed to add option.");
          }
        },
        error: function (xhr, status, error) {
          console.error("Error adding option:", status, error);
          alert("Failed to add option.");
        },
      });
    }

    // Function to fetch and display the user's current subscription info
    function getUserSubscriptionInfo() {
      $.ajax({
        type: "GET",
        url: "/getUserSubscriptionInfo",
        async: true,
        dataType: "json",
        success: function (data) {
          console.log("User subscription info:", data);
          // update the ui based on the user subscription
          if (data && data.length > 0) {
            var subscription = data[0]; // Assuming we hvae only one subscrition
            if (subscription.srvcCd === "01") {
              $("#basicSubscriptionButton")
                .text("Current Plan")
                .prop("disabled", true);
              $("#premiumSubscriptionButton")
                .text("Upgrade Now!")
                .prop("disabled", false);
            } else if (subscription.srvcCd === "02") {
              $("#premiumSubscriptionButton")
                .text("Current Plan")
                .prop("disabled", true);
              $("#basicSubscriptionButton")
                .text("Really?")
                .prop("disabled", false);
            } else {
              $("#basicSubscriptionButton")
                .text("Good!")
                .prop("disabled", false);
              $("#premiumSubscriptionButton")
                .text("Very Good!")
                .prop("disabled", false);
            }

            // Display the currently selected option
            if (subscription.optDtlsNm) {
              $("#selectedOption").text(subscription.optDtlsNm);
            }
          } else {
            // No subscription info found
            $("#basicSubscriptionButton").text("Good!").prop("disabled", false);
            $("#premiumSubscriptionButton")
              .text("Very Good!")
              .prop("disabled", false);
          }
        },
        error: function (xhr, status, error) {
          console.error(
            "Error fetching user subscription info:",
            status,
            error
          );
        },
      });
    }

    // Call getUserSubscriptionInfo when the page loads
    $(document).ready(function () {
      getUserSubscriptionInfo();
    });
  </script>
  <script src="js/utils.js"></script>
</th:block>

</html>